a,
button {
  border: 2px solid gray;
  background-color: white;
  color: unset;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
a:hover,
button:hover {
  color: white;
  background-color: black;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  width: 30rem;
  height: 30rem;
}
input {
  margin: 0.5rem;
}
