.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
a,
button {
  border: 2px solid gray;
  background-color: white;
  color: unset;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
a:hover,
button:hover {
  color: white;
  background-color: black;
}
